---
layout: default
title: 关于我们
permalink: /ch/about.html
language: ch
page_id: 'about_us_page'
---

{% capture content %}
<div class="col-12">
  <h1><span>关于</span>我们</h1>

  <p>在这个信息技术高速发展的年代，我们始终以积极的态度迎接工作中出现的各种挑战。</p>

  <p>作为一支富有创意、充满激情、热忱务实、有独立性的顾问和工程师团队，我们以完善的解决方案和项目管理来满足客户的要求。</p>

  <p>我们在设计和项目管理方面有着良好的声誉。在项目中我们以丰富的经验选择合适的集成商来确保项目顺利按时完成。</p>

  <p>在高速发展的技术领域中不断突破自我，以创新的理念为未来做出更好的解决方案。</p>

  <p>ihD总部于2003年在香港成立，是亚洲领先的顾问公司之一。并且在亚洲的五个国家，设立了7个办事处。迄今为止，我们的团队已经在20多个国家完成了超过700个有代表性的项目案例。</p>
</div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/backgrounds/about-us.jpg' section_style='primary' content=content %}


{% capture content %}
<div class="col-12 col-sm-4"><img src="/images/message-from-ian.jpg" class="mw-100 h-auto" /></div>
<div class="col-12 col-sm-8">
  <h2><span>来自创始人兼总裁 Ian D. Harris 的话</span></h2>

  <p>我们为了实现客户的目标而努力工作，提供更好的设计方案，对擅长采购和安装的承包商进行指导。我们秉承着互利共赢的目标，与相关设计团队和其他参与方合作。我们的最终目标是确保为大型复杂的项目带来长期的稳定性和可维护性，同时创造更好的未来。我的人生格言是“热爱自己的事业，才能成就一番伟业……不要停滞不前”，用积极的态度来思考，要相信我们能完成伟大的和（看起来）不可能的事情，并为之奋斗。十之八九，我们会成功。</p>
</div>
{% endcapture %}
{% include section-wrapper.html additional_classes='tight-container' section_style='primary' content=content %}
