---
layout: default
title: About Us
permalink: /ch/about.html
language: ch
page_id: 'about_us_page'
---

{% capture content %}
<div class="col-12">
  <h1><span>About</span>Us</h1>

  <p>In this digitally advanced technological age, everyday we are faced with challenging situations. We understand these complexities and challenges in our everyday lives.</p>

  <p>We are a team of creative, passionate, practical, independent consultants and engineers specialising in recommending better design and consultancy solutions as well as project management to meet our clients’ ambitions.</p>

  <p>We take great pride in our excellent reputation in both design and project management.  Our lifelong experience has placed us in a unique position working with the appointed integrators to ensure successful and timely project completion.</p>

  <p>We are always pushing our boundaries in the fast-evolving technology landscape with new innovative ideas to create better solutions for a better future.</p>

  <p>Headquartered in Hong Kong since 2003, we are one of the leading’s Asian consultancy firms. We now have a footprint of seven strategically-located offices across five markets in Asia.  To date, our specialists have accomplished over 700 exciting projects in 20 countries worldwide.</p>
</div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/backgrounds/about-us.jpg' section_style='primary' content=content %}


{% capture content %}
<div class="col-12 col-sm-4"><img src="/images/message-from-ian.jpg" class="mw-100 h-auto" /></div>
<div class="col-12 col-sm-8">
  <h2><span>Message from</span></h2>
  <h1 class="mb-0">Ian D. Harris</h1>

  <p>Founder & President</p>

  <p>We work relentlessly to fulfill our clients’ challenges with better design solutions for the awarded contractors who are good at sourcing and installation. We engage in a win-win approach with our peer design teams together with all stakeholders involved. Our ultimate aim is to bring these often large and complex projects to fruition with long-term reliability and maintainability while creating a better future. My motto is “Do Great Work, Love what you do…don’t settle”, as well as to always use Positive  Thinking, ie to believe that we can accomplish the great and the (seemingly) impossible, and to march forwards fighting to accomplish it. Nine times out of ten, we will achieve it!</p>
</div>
{% endcapture %}
{% include section-wrapper.html additional_classes='tight-container' section_style='primary' content=content %}
