---
layout: default
title: All Projects
permalink: /ch/all_projects.html
language: ch
page_id: all_projects_page
---

{% capture content %}
<div class="col">
  <h1>All<span>Projects</span></h1>
</div>
{% endcapture %}

{% include section-wrapper.html section_background_url='/images/backgrounds/our-projects.jpg' section_style='white' content=content %}

<div class="container" id="all_projects_filters">
  <div class="row mb-5">
    <div class="col col-sm-4">
      <select class="custom-select" data-filter-target="disciplines" data-placeholder="Disciplines" value="">
        <option></option>
        {% for discipline in site.data.disciplines -%}
          <option value="{{ discipline[0] }}">{{ discipline[1].ch }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col col-sm-4">
      <select class="custom-select" data-filter-target="hotelName" data-placeholder="Hotel Name">
        <option></option>
        {% assign hotels = site.data.full_projects | group_by: "hotel_name.ch" | sort: "name" -%}
        {% for hotel in hotels -%}
          {% if hotel.name != '' -%}
            <option value="{{ hotel.name }}">{{ hotel.name }}</option>
          {% endif %}
        {%- endfor -%}
      </select>
    </div>

    <div class="col col-sm-4">
      <select class="custom-select" data-filter-target="location" data-placeholder="Location">
        <option></option>
        {% assign countries = site.data.full_projects | group_by: "country.ch" | sort: "name" -%}
        {% for country in countries -%}
          {% if country.name != '' -%}
            <option value="{{ country.name }}">{{ country.name }}</option>
          {% endif %}
        {%- endfor -%}
      </select>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-5">
    <div class="col">
      <table class="table table-bordered" id="all_projects_grid">
        <thead>
          <th class="name">Project Name</th>
          <th class="disciplines">Disciplines</th>
          <th class="country">Country</th>
          <th class="city">City</th>
          <th class="hotel-name">Hotel</th>
          <th class="award-date">Awarded Date</th>
        </thead>

        <tbody>
          <tr id="no-results" class="d-none"><td colspan="6" class="text-center">No results, please try again</td></tr>
          {% for project in site.data.full_projects %}
            {% if project.name.ch != '' -%}
            {% assign disciplines = project.disciplines | split:'' -%}
            <tr data-disciplines="{{ project.disciplines }}" data-country="{{ project.country.ch }}" data-city="{{ project.city.ch }}" data-hotel-name="{{ project.hotel_name.ch }}">
              <td class="name">{{ project.name.ch }}</td>
              <td class="disciplines">
                {% for k in disciplines %}<span>{{ site.data.disciplines[k].ch }}</span>{% endfor -%}
              </td>
              <td class="country">{{ project.country.ch }}</td>
              <td class="city">{{ project.city.ch }}</td>
              <td class="hotel-name">{{ project.hotel_name.ch }}</td>
              <td class="award-date">{{ project.award_date }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script> require.deps.push('app/all_projects'); </script>
