---
layout: default
title: 我们的项目
permalink: /ch/projects.html
language: ch
page_id: portfolio_page
redirect_from:
  - /ch/portfolio.html
---

{% capture content %}
<h1 class="col-12">我们<span>的项目</span></h1>

<div id="portfolio_filters" class="row w-100 mx-0">
  <div class="col-4 px-2 pl-4">
    <select name="location" class="form-control input-lg">
      <option value="-1">{% if page.language == 'ch' %}国家{% else %}All Countries{% endif %}</option>
    </select>
  </div>

  <div class="col-4 px-2">
    <select name="discipline" class="form-control input-lg">
      <option value="-1">{% if page.language == 'ch' %}学科{% else %}All Disciplines{% endif %}</option>
    </select>
  </div>

  <div class="col-4 px-2 pr-4">
    <select name="type" class="form-control input-lg">
      <option value="-1">{% if page.language == 'ch' %}类型{% else %}All Types{% endif %}</option>
    </select>
  </div>
</div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/backgrounds/our-projects.jpg' section_style='white' content=content %}

<div class="container">
  <div class="row my-5" id="porfolio_grid">
  {% for project in site.data.projects %}
    {% include project.html project=project %}
  {% endfor %}
  </div>
</div>

<script>
  require.deps.push('app/portfolio');
</script>
