---
layout: sectioned
title: 我们的团队
permalink: /ch/team.html
language: ch
page_id: 'our_team_page'
section_background_url: '/images/backgrounds/team.jpg'
section_style: 'white'
redirect_from:
  - /team/ian-harris.html
---

<script>require.deps.push('bootstrap/modal')</script>

<div class="col-12">
  <h1>我们<span>的团队</span></h1>
  <div class="row px-4">{% include team.html %}</div>
</div>


{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/ian-harris.jpg" alt="Ian Harris" />
  <div class="col-lg-6 bio">
    <div><span class="h3 mr-3" id="team-ian-harris-label">夏德勤</span> <span class="small d-block d-xl-inline">BSC. ENG(HONS), C.ENG, MIET, AES, CTS-D</span></div>
    <p class="small">总裁首席顾问</p>
    <p>Ian是德勤的创始人。他从2003年带领一个二人团队开始，现在公司已经发展到拥有70名优秀的人才。他在法国、德国、利比亚和卡塔尔、瑞士、英国、美国以及多个亚洲国家都有丰富的工作经验。</p>

    <p>Ian拥有超过35年的国际技术咨询经验，为团队开发设计工具，给他们传授正确的技术，并激励他们创造“开箱即用”的设计解决方案。他以一种新的、创造性的和可持续的方式，积极主动地为客户介绍新技术和现有技术的应用。Ian坚信，在为客户和合作伙伴提供双赢解决方案的同时，也要让世界变得更美好。Ian也致力于通过分享和积累他的知识和经验来培养未来的一代。</p>

    <p>Ian是TAT-8设计团队的一员，TAT-8是世界上第一条跨大西洋光缆线路，也是空客A320客机的首架有线飞行客机;他还带领欧洲迪斯尼项目团队设计并安装了世界上第一个自动游行花车控制和音响系统。</p>

    <p>他的爱好除了电子、建筑和烹饪，Ian还喜欢创造。他对3D打印有着浓厚的兴趣，他创造了许多有用的东西，用于建筑、博物馆和个人使用。Ian喜欢和他美丽的妻子一起行山、游泳和骑自行车。他为他五个了不起的孩子而感到非常自豪。</p>
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='team-modal' id='team-ian-harris-modal' content=content %}



{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/adrian-lim.jpg" alt="Adrian Lim" />
  <div class="col-lg-6 bio">
    <div><span class="h3 mr-3" id="team-adrian-lim-label">林忠祥</span> <span class="small d-block d-xl-inline">MBA, B.Eng. (Hons), MIET, CTS-D</span></div>
    <p class="small">集团业务拓展总监</p>

    <p>Adrian在中国、香港、印度、澳门、马来西亚、菲律宾和新加坡等多个亚洲国家拥有超过25年的电气和电子工程服务项目管理和咨询经验。</p>

    <p>Adrian于2004年以项目工程师的身份加入香港德勤。当了几年工程师后，他决定攻读MBA学位，把自己的职业方向转为商业拓展。Adrian现在负责集团亚洲业务发展部。他协助在北京、上海、深圳、印度和马来西亚设立了办事处。在Adrian的领导下，业绩已增长了三倍。</p>

    <p>Adrian喜欢和他可爱的妻子去不同的地方旅行，为他的工作寻找灵感。他喜欢美酒佳肴和当地街头小吃。水肺潜水和铁人三项是他一直以来最喜欢的两项运动。</p>
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='team-modal' id='team-adrian-lim-modal' content=content %}



{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/chong-kok-siong.jpg" alt="Chong Kok Siong" />
  <div class="col-lg-6 bio">
    <div><span class="h3 mr-3" id="team-chong-kok-siong-label">庄国雄</span></div>
    <p class="small">业务发展总监（东南亚）</p>

    <p>Chong在弱电，视听和照明行业有超过24年的工作经验。现负责公司东南亚地区业务发展，并兼任项目总监及高级顾问。Chong还主动在东北亚、印度和斯里兰卡以外的其他国家开拓商机。2013年开办了马来西亚办事处，现为德勤东南亚地区办事处。在过去的五年里，Chong在多元化的垂直市场上获得了大量的项目。</p>

    <p>每个人都应该过上更好的生活，Chong坚信科技是支持人类实现这一信念的机制或工具，也是保护传统的手段。Chong在马来西亚创造了大量的成功业绩，他现在正在该区域推广这些成功模式。</p>

    <p>在过去的工作中，Chong对弱电、视听和模拟系统在东南亚和中国的应用中有着宝贵的经验和独到的见解。</p>

    <p>Chong喜欢阅读、旅行、行山和跑步，他坚信开阔眼界会给他的工作带来灵感。</p>
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='team-modal' id='team-chong-kok-siong-modal' content=content %}



{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/patrick-shek.jpg" alt="Patrick Shek" />
  <div class="col-lg-6 bio">
    <div><span class="h3 mr-3" id="team-patrick-shek-label">石骏熙</span> <span class="small d-block d-xl-inline">BSc. (Hons), MIET, CTS-D</span></div>
    <p class="small">项目总监</p>

    <p>Patrick自2005年开始一直在德勤工作，他的职业生涯是从项目工程师开始的。他现在负责领导香港、北京、上海、深圳、印度和马来西亚办事处的项目团队。至今，Patrick已领导和管理了100多个项目，其中包括四季酒店、希尔顿酒店、凯悦酒店、朗廷集团、万豪集团、新世界集团、新鸿基集团等知名集团。</p>

    <p>Patrick相信团队合作的力量。他在大学期间担任足球队队长的经历，使他清楚团队精神是如何促进成功的。Patrick赋予他的团队成员充分地发挥自己的潜力，克服工作中面对的任何困难。</p>

    <p>广州四季酒店项目是Patrick成就的一个里程碑。也标志着德勤的IT，安防和弱电在行业内的一个开始。</p>

    <p>在加入德勤之前，Patrick是一名AV系统集成销售工程师。自2007年起，Patrick是一名合格的CTS-D设计师和MIET的成员。他持有香港科技大学物理学(辅修数学)学士学位。</p>

    <p>Patrick乐于回馈社会，他在香港医疗辅助队当义工，帮助有需要的人。他最喜欢的运动是桌球和足球。</p>
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='team-modal' id='team-patrick-shek-modal' content=content %}



{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/alfie-cheng.jpg" alt="Alfie Cheng" />
  <div class="col-lg-6 bio">
    <div><span class="h3 mr-3" id="team-alfie-cheng-label">郑泽恩</span> <span class="small d-block d-xl-inline">MSc.Eng., B.Eng.</span></div>
    <p class="small">IT&弱电总监</p>

    <p>Alfie于2012年加入德勤，负责IT和ELV部门。他在中国、香港、日本、韩国、马来西亚、泰国、新加坡和越南拥有超过20年的技术顾问经验。 </p>

    <p>Alfie在德勤身兼数职，从设计解决方案到项目管理。他是团队设计质量标准的把关人。Alfie在维护客户关系方面也发挥着重要作用。</p>

    <p>“让德勤成为更适合工作的公司”是Alfie的座右铭。作为一个团队的领导者，他总是为团队成员提供更多的学习和成长的机会。他的目标是创造一种更简单而有效的工作方式。现在他额外承担了一个角色，就是去建立一个集成的内部系统。</p>

    <p>Alfie在加入德勤之前是在UTI电信工作。他拥有香港理工大学电子工程学位。工作之余，Alfie喜欢和妻子一起旅行，在家和朋友娱乐，努力保持工作和生活的平衡。</p>
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='team-modal' id='team-alfie-cheng-modal' content=content %}
