---
layout: default
title: About Us
permalink: /about.html
language: en
page_id: 'about_us_page'
redirect_from:
  - /e_about.html
---

{% capture content %}
<div class="col-12">
  <h1><span>About</span>Us</h1>

  <p>We are a team of passionate Consultants and Professionals, headquartered in Hong Kong. We have grown to be one of Asia’s leading Consultancy firms with multiple offices across Asia, and an variety of projects specialising in IT, IoT, Security, ELV, Audio-Visual, and Acoustics.</p>

  <p>In the process we each apply our lifelong experience to achieve excellent fully coordinated designs and project-management, and through this have gained an excellent reputation.</p>

  <p>We strive to turn the ambitions and dreams of our clients into reality by constantly pushing the boundaries with new innovative ideas to create better solutions for a better future.</p>
</div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/backgrounds/about-us.jpg' section_style='primary' content=content %}


{% capture content %}
<div class="col-12 col-sm-4"><img src="/images/message-from-ian.jpg" class="mw-100 h-auto" /></div>
<div class="col-12 col-sm-8">
  <h2><span>Message from</span></h2>
  <h1 class="mb-0">Ian D. Harris</h1>

  <p>Late Founder</p>

  <p>We work relentlessly to fulfill our clients’ challenges with better design solutions for the awarded contractors who are good at sourcing and installation. We engage in a win-win approach with our peer design teams together with all stakeholders involved. Our ultimate aim is to bring these often large and complex projects to fruition with long-term reliability and maintainability while creating a better future. My motto is “Do Great Work, Love what you do…don’t settle”, as well as to always use Positive  Thinking, ie to believe that we can accomplish the great and the (seemingly) impossible, and to march forwards fighting to accomplish it. Ten times out of ten, we will achieve it!</p>
</div>
{% endcapture %}
{% include section-wrapper.html additional_classes='tight-container' section_style='primary' content=content %}
