---
layout: default
title: All Projects
permalink: /all_projects.html
language: en
page_id: all_projects_page
---

{% capture content %}
<div class="col">
  <h1>All<span>Projects</span></h1>
</div>
{% endcapture %}

{% include section-wrapper.html section_background_url='/images/backgrounds/our-projects.jpg' section_style='white' content=content %}

<div class="container" id="all_projects_filters">
  <div class="row mb-5">
    <div class="col-12 my-3 col-md-3">
      <select class="custom-select" data-filter-target="disciplines" data-placeholder="Disciplines" value="">
        <option></option>
        {% for discipline in site.data.disciplines -%}
          <option value="{{ discipline[0] }}">{{ discipline[1].en }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-12 my-3 col-md-3">
      <select class="custom-select" data-filter-target="codes" data-placeholder="Types" value="">
        <option></option>
        {% for project_code in site.data.project_codes -%}
          <option value="{{ project_code[0] }}">{{ project_code[1].en }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-12 my-3 col-md-3">
      <select class="custom-select" data-filter-target="hotelName" data-placeholder="Hotel Name">
        <option></option>
        {% assign hotels = site.data.full_projects | group_by: "hotel_name.en" | sort: "name" -%}
        {% for hotel in hotels -%}
          {% if hotel.name != '' -%}
            <option value="{{ hotel.name }}">{{ hotel.name }}</option>
          {% endif %}
        {%- endfor -%}
      </select>
    </div>

    <div class="col-12 my-3 col-md-3">
      <select class="custom-select" data-filter-target="location" data-placeholder="Location">
        <option></option>
        {% assign countries = site.data.full_projects | group_by: "country.en" | sort: "name" -%}
        {% for country in countries -%}
          {% if country.name != '' -%}
            <option value="{{ country.name }}">{{ country.name }}</option>
          {% endif %}
        {%- endfor -%}
      </select>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-5">
    <div class="col">
      <table class="table table-bordered" id="all_projects_grid">
        <thead>
          <th class="name">Project Name</th>
          <th class="disciplines">Disciplines</th>
          <th class="types">Types</th>
          <th class="location">Location</th>
          <th class="hotel-name">Hotel</th>
          <th class="award-date">Awarded Date</th>
        </thead>

        <tbody>
          <tr id="no-results" class="d-none"><td colspan="7" class="text-center">No results, please try again</td></tr>
          {% for project in site.data.full_projects %}
            {% assign disciplines = project.disciplines | split:'' -%}
            {% assign codes = project.codes | split:'' -%}
            <tr data-disciplines="{{ project.disciplines }}" data-country="{{ project.country.en }}" data-city="{{ project.city.en }}" data-hotel-name="{{ project.hotel_name.en }}" data-codes={{ project.codes }}>
              <td data-label="Project Name" class="name">{{ project.name.en }}</td>
              <td data-label="Disciplines" class="disciplines">
                {% for k in disciplines %}<span>{{ site.data.disciplines[k].en }}</span>{% endfor -%}
              </td>
              <td data-label="Types" class="codes">
                {% for k in codes %}<span>{{ site.data.project_codes[k].en }}</span>{% endfor -%}
              </td>
              <td data-label="Location" class="location">{{ project.city.en }}, {{ project.country.en }}</td>
              <td data-label="Hotel" class="hotel-name">{{ project.hotel_name.en }}</td>
              <td data-label="Awarded Date" class="award-date">{{ project.award_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script> require.deps.push('app/all_projects'); </script>
