---
layout: page
title: Portfolio
permalink: /portfolio.html
language: en
page_id: portfolio_page
redirect_from:
  - /e_portfolio.html
  - /e_portfolio_list_all.html
---

<h1>Portfolio</h1>

<div id="portfolio_filters" class="row">
  <div class="col-md-4">
    <select name="location" class="form-control input-lg">
      <option value="-1">All Countries</option>
    {% for location in site.data.portfolio.countries %}
      <option value="{{location[0]}}">{{location[1].en}}</option>
    {% endfor %}
    </select>
  </div>

  <div class="col-md-4">
    <select name="discipline" class="form-control input-lg">
      <option value="-1">All Disciplines</option> <!-- placeholder -->
    {% for discipline in site.data.portfolio.disciplines %}
      <option value="{{discipline[0]}}">{{discipline[1].en}}</option>
    {% endfor %}
    </select>
  </div>

  <div class="col-md-4">
    <select name="type" class="form-control input-lg">
      <option value="-1">All Types</option>
    {% for type in site.data.portfolio.codes %}
      <option value="{{type[0]}}">{{type[1].en}}</option>
    {% endfor %}
    </select>
  </div>
</div>

<div class="row" id="porfolio_grid">
{% for item in site.data.portfolio.items %}

{% include portfolio-en.html item=item %}

{% endfor %}
</div>

{% include portfolio-modal.html %}

<script>
  require.deps.push('app/portfolio');
</script>
