---
layout: default
title: Projects
permalink: /projects.html
language: en
page_id: portfolio_page
redirect_from:
  - /e_portfolio.html
  - /e_portfolio_list_all.html
  - /e_portfolio_map.html
  - /portfolio.html
---

{% capture content %}
<div class="d-flex w-100 align-items-center mb-4">
  <h1 class="col-auto flex-shrink-1 mb-0">Our<span>Projects</span></h1>
  <div class="col-auto flex-grow-1"></div>
  <div class="col-auto flex-shrink-1">
    <a href="/all_projects.html" class="btn btn-outline-secondary">All Projects</a>
  </div>
</div>


<div class="row mb-5">
  <div class="col-md-10 col-lg-8">
    <h2 class="h4"><span>Trusted by the World’s Leading Brands</span></h2>
    <p>We are the partner of choice for global hotel chains, property developers, and iconic destinations—delivering consistent quality and innovation.</p>
  </div>
</div>


<div id="portfolio_filters" class="row w-100 mx-0">
  <div class="col-12 col-sm-6 col-lg-3 pb-3">
    <select name="location" class="form-control">
      <option value="-1">All Countries</option>
    </select>
  </div>

  <div class="col-12 col-sm-6 col-lg-3 pb-3">
    <select name="discipline" class="form-control">
      <option value="-1">All Disciplines</option>
    </select>
  </div>

  <div class="col-12 col-sm-6 col-lg-3 pb-3">
    <select name="type" class="form-control">
      <option value="-1">All Types</option>
    </select>
  </div>

  <div class="col-12 col-sm-6 col-lg-3 pb-3">
    <input name="search" class="form-control" placeholder="Search..." />
  </div>
</div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/backgrounds/our-projects.jpg' section_style='white' content=content %}

<div class="container">
  <div class="row my-5" id="porfolio_grid">
  {% for project in site.data.projects %}
    {% include project.html project=project %}
  {% endfor %}
  </div>
</div>

<script> require.deps.push('app/portfolio'); </script>
