---
layout: default
title: Our Services
permalink: /services.html
language: en
redirect_from: /e_services.html
page_id: our_services_page
---


{% capture content %}
  <h1 class="col-12">Our<span>Services</span></h1>

  <div class="col-md-6">
    <p class="lead">ihD provides essential and timely professional consultancy in the ELV, IT, PABX, Security, Audio-Visual, and Acoustics disciplines, with fully-detailed design services carried out entirely in-house</p>
  </div>

  <div class="col-md-4 offset-md-1">
    <ul class="list-unstyled lead">
      <li>ELV Extra-Low Voltage Systems</li>
      <li>IT Information Technology Service</li>
      <li>Security Systems</li>
      <li>Audio-Visual Systems</li>
      <li>Architectural &amp; Mechanical Accoustics</li>
    </ul>
  </div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/backgrounds/our-services.jpg' section_style='white' content=content %}




{% capture content %}
  <h2 class="col-12"><span>Acoustics</span></h2>

  <div class="col-md-6">
    <p>Our acoustic consultant Team is responsible for building- and environmental- acoustics, vibration-isolation, noise-reduction, reverberation-control, and sound-insulation. We also carry out site-surveys and provide an emergency studies-service for the problematical already-built facilities, recommending buildable recovery strategies.</p>
    <p>We steer projects from planning through design, construction, testing, and commissioning with better solutions. We help clients achieve their beautiful acoustical ambiances that are both pleasant and productive from everyday situations to performance environments.</p>
  </div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/services/acoustics.jpg' section_style='dark' content=content %}


{% capture content %}
  <h2 class="col-12"><span>Audio-Visual &amp; multimedia</span></h2>
  <p class="col-md-6">Audio-visual consultancy has been at the core of our services since our inception in 2003. With more than 100 years of combined experience, our audio-visual consultants are attentive-to-detail, being meticulous yet thoughtful in their design. We guide contractors throughout the process to deliver the optimal audio-visual results for our clients. We also undertake audio-visual audits to validate the quality assurance for clients.</p>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/services/av-systems.jpg' section_style='dark' content=content %}


{% capture content %}
  <h2 class="col-12">ELV <span>Extra-Low Voltage Systems</span></h2>

  <div class="col-md-6">
    <p>ELV includes all the systems in a building which operate on low voltage like access control, data transmission, LAN, CCTV, fire alarm, public address system, audio-visual, enterprise Wi-Fi, telephone, automation and smart home systems, etc.</p>
    <p> We deliver a modern design solution with better-integrated ELV systems. With our higher level of technical expertise and ELV knowledge, our clients boast a higher efficiency at lower cost and with reduction in risk.</p>
  </div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/services/elv.jpg' section_style='dark' content=content %}


{% capture content %}
  <h2 class="col-12"><span>Information Technology Service</span></h2>

  <div class="col-md-6">
    <p>Our consultants understand the complexities of different IT needs for complete infrastructure-design from fully-wired optical fibre and copper backbones to completely wireless networks. We employ the industry's most accurate wireless LAN design and simulation tools to ensure optimal wireless network performance, security and compliance.</p>
    <p>Our knowledge of well-established and cutting-edge technologies allows us to deliver better solutions to meet different clients’ demands as well as the future needs of the facilities. While the users are enjoying the very best of IT services, the systems are functioning at their optimum and with highest reliability.</p>
  </div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/services/it-information-technology-service.jpg' section_style='dark' content=content %}


{% capture content %}
  <h2 class="col-12"><span>Security Systems</span></h2>
  <p class="col-md-6">Our extensive work with ex-armed forces and security chief advisors equip our experts to completely understand the challenging modern networked security systems and the complex infrastructure requirements. Our analytics applications safeguard our designs to provide intelligent and effective surveillance. They also contribute to delivering better defence solutions for building setback and for creating Virtual perimeter fences.</p>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/services/security-systems.jpg' section_style='dark' content=content %}



<!--

## Further Information

For more information about our company, download our Corporate Profile here:

{:.text-center}
[![English Corporate Profile]({{ "/images/services/corporate-profile-en.png" | relative_url }}){:.service-cover}]({{ "/assets/PA000-D-999 Rev Q - ihD Corporate Profile.pdf" | relative_url }}) [![Chinese Corporate Profile]({{ "/images/services/corporate-profile-ch.png" | relative_url }}){:.service-cover}]({{ "/assets/PA000-D-999 Rev Q - ihD Corporate Profile (Chi).pdf" | relative_url }})
-->