---
layout: sectioned
title: Our Team
permalink: /team.html
language: en
page_id: 'our_team_page'
section_background_url: '/images/backgrounds/team.jpg'
section_style: 'white'
redirect_from:
  - /team/ian-harris.html
---

<script>require.deps.push('bootstrap/modal')</script>

<div class="col-12">
  <h1>Our<span>Team</span></h1>
  <div class="row px-4">{% include team.html %}</div>
</div>


{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/ian-harris.jpg" alt="Ian Harris" />
  <div class="col-lg-6 bio">
    <div><span class="h3 mr-3" id="team-ian-harris-label">Ian Harris</span> <span class="small d-block d-xl-inline">BSC. ENG(HONS), C.ENG, MIET, AES, CTS-D</span></div>
    <p class="small">President & Principal Consultant</p>
    <p>Ian is the founder of ihD. He started with a team of two in 2003, and the company has now grown to 70 strong talents. Ian has an extensive working experience in France, Germany, Libya & Qatar, Switzerland, the UK, USA, and multiple Asia countries before calling Hong Kong his home.</p>

    <p>With over 35 years of international technology consulting experience under his belt, he develops design tools for his team, equips them with the right techniques, as well as inspires the team to create “out-of-the-box” design solutions. He pro-actively introduces new technologies and application of existing technologies in a new, creative and sustainable way for his clients. Ian is a firm believer in seeking win-win solutions for his clients and partners while making the world a better place. Ian is also committed to training the future generation through sharing and cascading his knowledge and experience.</p>

    <p>Ian was part of the design team working on TAT-8, the world’s first ever trans-Atlantic optical fibre cable link and the Airbus A320 first-ever fly-by-wire passenger aircraft; he also led the Euro-Disney project team designing and installing the world’s first ever automated parade float control and audio system.</p>
    
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='team-modal' id='team-ian-harris-modal' content=content %}



{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/adrian-lim.png" alt="Adrian Lim" />
  <div class="col-lg-6 bio">
    <div><span class="h3 mr-3" id="team-adrian-lim-label">Adrian Lim</span> <span class="small d-block d-xl-inline">MBA, B.Eng. (Hons), MIET, CTS-D</span></div>
    <p class="small">Managing Director</p>

    <p>Adrian has over 25 years of project management and consultation experiences in AV, IT and Security services across multiple Asia countries, namely China, HK, India, Macau, Malaysia, Philippines, and Singapore.</p>

    <p>Adrian initially joined ihD HK as a Consultant in 2004. After being a Consultant for a few years, he decided to pursue an MBA degree to advance his career into business development.  Adrian now heads up the business development division for the group across Asia. He facilitated the start-up of the offices in Beijing, Shanghai, Shenzhen, India, and Malaysia. Under Adrian’s leadership, the business has grown threefold.</p>
    
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='team-modal' id='team-adrian-lim-modal' content=content %}



{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/chong-kok-siong.png" alt="Chong Kok Siong" />
  <div class="col-lg-6 bio">
    <div><span class="h3 mr-3" id="team-chong-kok-siong-label">Chong Kok Siong</span></div>
    <p class="small">Sales Director</p>

    <p>Chong has over 24 years of working experience in ELV, audio-visual and lighting systems. He is now running the business development of the company for the South-East Asia region, and also acts as project director and senior consultant. Chong also takes the initiative venturing into a business opportunity in any country that is out of Northeast Asia, India, and Sri Lanka. In 2013, he initiated the launch of Malaysia’s office, which is now serving as the Southeast Asia regional office of ihD. During the past five years, Chong secured a substantial number of projects in the diversified vertical markets.</p>

    <p>“Everyone deserves to live a better life,” Chong strongly believes technology is the mechanism or tool to support human beings to materialize this belief and also to conserve the tradition. Chong has created a significant number of success stories in Malaysia, and he is now cascading the success model across the region.</p>

    <p>For his past employment, Chong gained valuable insight and perfection into the working of ELV, audio-visual, and simulation in South-East Asia and China.</p>

    <p>Chong enjoys reading, traveling, hiking and running, he firmly believes by broadening his horizon would give him the inspirations for his work.</p>
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='team-modal' id='team-chong-kok-siong-modal' content=content %}



{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/patrick-shek.jpg" alt="Patrick Shek" />
  <div class="col-lg-6 bio">
    <div><span class="h3 mr-3" id="team-patrick-shek-label">Patrick Shek</span> <span class="small d-block d-xl-inline">BSc. (Hons), MIET, CTS-D</span></div>
    <p class="small">Project Director</p>

    <p>Patrick is a longstanding staff with ihD since 2005 and started his career as a project engineer. He now heads up the project management team for Hong Kong, Beijing, Shanghai, Shenzhen, India, and Malaysia offices. To date, Patrick has led and managed over 100 projects of renowned hospitality groups such as Four Seasons Hotel, Hilton Hotel, Hyatt Hotel, Langham Group, Marriott Group and property developer such as New World, Sun Hung Kai Group.</p>

    <p>Patrick believes in strong collaborative teamwork. With his experience as a soccer team captain during university years, Patrick has gained an understanding of how team spirit can contribute to success. Patrick empowers his team members to reach their full potential and overcome any challenges faced at the workplace.</p>

    <p>The Four Seasons Hotel Guangzhou project was a milestone achievement for Patrick. This marked ihD’s inaugural IT, security, and ELV projects in the industry.</p>

    <p>Before joining ihD, Patrick was an AV system integration sales engineer. Patrick is a CTS-D qualified designer since 2007 and a member of MIET. He possessed a BSc (Honors) in Physics (Minor Mathematics) degree from The Hong Kong University of Science and Technology.</p>

    <p>Patrick loves to give back to the community by volunteering at Hong Kong Auxiliary Medical Service helping those in need. </p>

  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='team-modal' id='team-patrick-shek-modal' content=content %}



{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/alfie-cheng.png" alt="Alfie Cheng" />
  <div class="col-lg-6 bio">
    <div><span class="h3 mr-3" id="team-alfie-cheng-label">Alfie Cheng</span> <span class="small d-block d-xl-inline">MSc.Eng., B.Eng.</span></div>
    <p class="small">Director of Technology & Director of Project</p>

    <p>Alfie joined ihD in 2012 leading the IT and ELV departments. He has over 20 years of technology consulting experience spanning across China, Hong Kong, Japan, S. Korea, Malaysia, Thailand, Singapore, and Vietnam.</p>

    <p>Alfie wears multiple hats at ihD from creating design solutions to project management. He is the gatekeeper to ensure quality design standard of his team. Alfie also plays a significant role in strengthening relationships with clients.</p>

    <p>“Making ihD a better company to work in” is Alfie’s motto.  As a team leader, he is always offering more opportunities for his team members to learn and grow. He aims to create a simpler yet effective way to work. Alfie is undertaking an additional role to build an integrated in-house system.</p>
    <p>Alfie was with UTI Telecom before joining ihD. He has an Electronics Engineering degree from Hong Kong Polytechnic University. </p>

  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='team-modal' id='team-alfie-cheng-modal' content=content %}
