---
layout: sectioned
title: Our Team
permalink: /team.html
language: en
page_id: 'our_team_page'
section_background_url: '/images/homepage/team.jpg'
section_style: 'white'
---

<script>require.deps.push('bootstrap/modal')</script>

<div class="col-12">
  <h1>Our<span>Team</span></h1>
  <div class="row px-4">{% include team.html %}</div>
</div>

{% capture content %}
<p>Addicted to electronics since 11 years old, even designing and building the school radio station, Ian graduated in Electronics & Communications Engineering from London University to work in mission-critical high-reliability Communications and Aerospace industries. Part of the STC Submarine Systems design team for TAT-8, the world’s first Optical Fibre Trans-Atlantic data/telecommunication link, he went on to join European Airbus in Germany, developing cabin systems for the A330/340-series aircraft. He returned to England to work for Electrosonic as senior Project Manager for many Museum and Theme park, as well as Corporate Meeting/Training Facility projects.</p>

<p>Moving to Hong Kong, Ian operated the Consultancy Group within LSI, a Systems Integration company, eventually leaving to start ihD – Ian Harris Design, growing from just himself in 2003, to presently 60 team members across the offices. "We work hard to really understand our Client’s needs, and to design in sufficient detail that the awarded Contractors can focus on what they’re good at, ie sourcing and installation. We always work win-win with our Peer Design team members, as well as with all the other stakeholders, in order to bring these often large and complex projects to fruition with a long-term reliability and maintainability".</p>
{% endcapture %}
{% include modal.html id='team-ian-harris-modal' content=content title='Ian Harris' image='/images/team/ian-harris.jpg' qualifications='BSC. ENG(HONS), C.ENG, MIET, AES, CTS-D' job_title='President & Principal Consultant' %}
