---
layout: sectioned
title: Our Team
permalink: /team.html
language: en
page_id: 'our_team_page'
section_background_url: '/images/homepage/team.jpg'
section_style: 'white'
redirect_from:
  - /team/ian-harris.html
---

<script>require.deps.push('bootstrap/modal')</script>

<div class="col-12">
  <h1>Our<span>Team</span></h1>
  <div class="row px-4">{% include team.html %}</div>
</div>

{% capture content %}
<div class="row">
  <img class="col-4 h-100" src="/images/team/ian-harris.jpg" alt="Ian Harris" />
  <div class="col-8">
    <div><span class="h3" id="team-ian-harris-label">Ian Harris</span> <span class="small">BSC. ENG(HONS), C.ENG, MIET, AES, CTS-D</span></div>
    <p class="small">President & Principal Consultant</p>
    <p>Ian is the founder of ihD.  He started with a team of two in 2003, and the company has now grown to 70 strong talents. Ian has an extensive working experience in France, Germany, Libya & Qatar, Switzerland, the UK, USA, and multiple Asia countries before calling Hong Kong his home.</p>

    <p>With over 35 years of international technology consulting experience under his belt, he develops design tools for his team, equips them with the right techniques, as well as inspires the team to create “out-of-the-box” design solutions. He pro-actively introduces new technologies and application of existing technologies in a new, creative and sustainable way for his clients. Ian is a firm believer in seeking win-win solutions for his clients and partners while making the world a better place. Ian is also committed to training the future generation through sharing and cascading his knowledge and experience.</p>

    <p>Ian was part of the design team working on TAT-8, the world’s first ever trans-Atlantic optical fibre cable link and the Airbus A320 first-ever fly-by-wire passenger aircraft; he also led the Euro-Disney project team designing and installing the world’s first ever automated parade float control and audio system.</p>

    <p>In addition to his hobbies of electronics-construction and cooking, Ian loves to create. He has a profound interest in 3D printing with an entire creation of useful things for application in buildings, museums and for personal use. Ian enjoys his leisure time with his beautiful wife doing hiking, swimming, and cycling. He is proud to be the father of five amazing children.</p>
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' id='team-ian-harris-modal' content=content %}




{% capture content %}
<div class="row">
  <img class="col-4 h-100" src="/images/team/adrian-lim.jpg" alt="Adrian Lim" />
  <div class="col-8">
    <div><span class="h3" id="team-adrian-lim-label">Adrian Lim</span> <span class="small">MBA, B.Eng. (Hons), MIET, CTS-D</span></div>
    <p class="small">Group Director of Business Development</p>

    <p>Adrian has over 25 years of project management and consultation experiences in electrical and electronics engineering services across multiple Asia countries, namely China, HK, India, Macau, Malaysia, Philippines, and Singapore.</p>

    <p>Adrian initially joined ihD HK as a Project Engineer in 2004. After being an Engineer for a few years, he decided to pursue an MBA degree to advance his career into business development.  Adrian now heads up the business development division for the group across Asia. He facilitated the start-up of the offices in Beijing, Shanghai, Shenzhen, India, and Malaysia. Under Adrian’s leadership, the business has grown threefold.</p>

    <p>Securing the Huawei Worldwide design standard for ihD was the latest milestone accomplishment in Adrian’s career as the challenges were not just to manage multiple stakeholders but also to provide a workable solution of the design standard that is compliant among 180,000 staff across 170 countries in the world.</p>

    <p>Leisurely, Adrian loves to travel to different destinations with his lovely wife to find inspirations for his work. He enjoys fine wines, gourmet cuisines to local street food. Scuba diving and Ironman triathlon are two of his all times favourite sports.</p>
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' id='team-adrian-lim-modal' content=content %}


