<footer>
  <div class="container">
    <div class="row our-values">
      <div class="value-cell" data-toggle="tooltip" data-placement="top" title="Headquartered in Hong Kong & with Offices around Asia, we run projects in APAC, EMEA, & Oceanic USA. Our offices are fully-operational, handling projects directly">
        <img src="{{ "/images/icons/global-tech-consultant1.png" | relative_url }}" alt="Global Technology Consultant" />
        <p>Global Technology Consultant</p>
      </div>
      <div class="value-cell" data-toggle="tooltip" data-placement="top" title="We Design & Co-ordinate, Tender, site-quality check and T&C IT Infrastructure, WiFi, Server Rooms, ELV, Security, Audio-Visual Systems Acoustics similarly except no Tender, instead working with the MEP & Architect to input to their design">
        <img src="{{ "/images/icons/excellence-in-design1.png" | relative_url }}" alt="Excellence in Design and Communication">
        <p>Excellence in Design and Communication</p>
      </div>
      <div class="value-cell" data-toggle="tooltip" data-placement="top" title="We work pro-actively, co-operating with the Architect, ID, MEP, Lighting & other Peer Design Team members to successfully realise the projects">
        <img src="{{ "/images/icons/proactive1.png" | relative_url }}" alt="Pro-active and Creative">
        <p>Pro-active and Creative</p>
      </div>
      <div class="value-cell" data-toggle="tooltip" data-placement="top" title="We make buildable designs, and work hard to integrate with the aesthetic and functional needs of the Facilities,whilst maintaining the Technical Performance">
        <img src="{{ "/images/icons/practical1.png" | relative_url }}" alt="Practical and Flexible">
        <p>Practical and Flexible</p>
      </div>
      <div class="value-cell" data-toggle="tooltip" data-placement="top" title="Integrity is essential in preserving the Owners resources, and in maintaining safety, and achieving full functionality">
        <img src="{{ "/images/icons/integrity1.png" | relative_url }}" alt="Integrity">
        <p>Integrity</p>
      </div>
      <div class="value-cell"><a href="/contact.html">
        <img src="{{ "/images/icons/contact-us1.png" | relative_url }}" alt="Contact Us">
        <p>Contact Us</p>
      </a></div>
    </div>
    <script>
      // require.deps.push('bootstrap/tooltip');
    </script>

    <div class="row copyright">
      <div class="col-md-12">
        <img class="d-block m-auto" alt="Brand" src="{{ "/images/logo.png" | relative_url }}">
        <p class="text-center mb-0">Copyright 2025 ihD Ltd</p>
      </div>
    </div>
  </div>
</footer>
