<footer>
  <div class="container">
    <div class="row our-values">
      <div class="value-cell" data-toggle="tooltip" data-placement="top" title="Headquartered in Hong Kong & with Offices around Asia, we run projects in APAC, EMEA, & Oceanic USA. Our offices are fully-operational, handling projects directly">
        <img src="{{ "/images/icons/global-tech-consultant.png" | relative_url }}" alt="全球科技及技术顾问">
        <p>全球科技及技术顾问</p>
      </div>
      <div class="value-cell" data-toggle="tooltip" data-placement="top" title="We Design & Co-ordinate, Tender, site-quality check and T&C IT Infrastructure, WiFi, Server Rooms, ELV, Security, Audio-Visual Systems Acoustics similarly except no Tender, instead working with the MEP & Architect to input to their design">
        <img src="{{ "/images/icons/excellence-in-design.png" | relative_url }}" alt="卓越的设计及沟通能力">
        <p>卓越的设计及沟通能力</p>
      </div>
      <div class="value-cell" data-toggle="tooltip" data-placement="top" title="We work pro-actively, co-operating with the Architect, ID, MEP, Lighting & other Peer Design Team members to successfully realise the projects">
        <img src="{{ "/images/icons/proactive.png" | relative_url }}" alt="积极创新">
        <p>积极创新</p>
      </div>
      <div class="value-cell" data-toggle="tooltip" data-placement="top" title="We make buildable designs, and work hard to integrate with the aesthetic and functional needs of the Facilities,whilst maintaining the Technical Performance">
        <img src="{{ "/images/icons/practical.png" | relative_url }}" alt="务实灵活">
        <p>务实灵活</p>
      </div>
      <div class="value-cell" data-toggle="tooltip" data-placement="top" title="Integrity is essential in preserving the Owners resources, and in maintaining safety, and achieving full functionality">
        <img src="{{ "/images/icons/integrity.png" | relative_url }}" alt="诚实守信">
        <p>诚实守信</p>
      </div>
      <div class="value-cell"><a href="/ch/contact.html">
        <img src="{{ "/images/icons/contact-us.png" | relative_url }}" alt="联系我们">
        <p>联系我们</p>
      </a></div>
    </div>
    <script>
      // require.deps.push('bootstrap/tooltip');
    </script>

    <div class="row copyright">
      <div class="col-md-12">
        <img class="d-block m-auto" alt="Brand" src="{{ "/images/logo.png" | relative_url }}">
        <p class="text-center mb-0">Copyright 2021 ihD Ltd</p>
      </div>
    </div>
  </div>
</footer>
