<footer>
  <div class="container">
    <div class="row our-values">
      <div class="col-sm mb-3" data-toggle="tooltip" data-placement="top" title="Headquartered in Hong Kong & with Offices around Asia, we run projects in APAC, EMEA, & Oceanic USA. Our offices are fully-operational, handling projects directly">
        <img src="{{ "/images/icons/impact.png" | relative_url }}" alt="Contribution" />
        <p class="mt-xl-2">Global Technology Consultant</p>
      </div>
      <div class="col-sm mb-3" data-toggle="tooltip" data-placement="top" title="We Design & Co-ordinate, Tender, site-quality check and T&C IT Infrastructure, WiFi, Server Rooms, ELV, Security, Audio-Visual Systems Acoustics similarly except no Tender, instead working with the MEP & Architect to input to their design">
        <img src="{{ "/images/icons/growth.png" | relative_url }}" alt="Growth">
        <p>Excellence in Design and Communication</p>
      </div>
      <div class="col-sm mb-3" data-toggle="tooltip" data-placement="top" title="We work pro-actively, co-operating with the Architect, ID, MEP, Lighting & other Peer Design Team members to successfully realise the projects">
        <img src="{{ "/images/icons/ethics.png" | relative_url }}" alt="Ethics">
        <p class="mt-lg-2">Pro-active and Creative</p>
      </div>
      <div class="col-sm mb-3" data-toggle="tooltip" data-placement="top" title="We make buildable designs, and work hard to integrate with the aesthetic and functional needs of the Facilities,whilst maintaining the Technical Performance">
        <img src="{{ "/images/icons/contribution.png" | relative_url }}" alt="Contribution">
        <p class="mt-lg-2">Practical and Flexible</p>
      </div>
      <div class="col-sm mb-3" data-toggle="tooltip" data-placement="top" title="Integrity is essential in preserving the Owners resources, and in maintaining safety, and achieving full functionality">
        <img src="{{ "/images/icons/partnership.png" | relative_url }}" alt="Partnership">
        <p class="mt-lg-3">Integrity</p>
      </div>
      <div class="col-sm mb-3">
        <img src="{{ "/images/icons/goals.png" | relative_url }}" alt="Goals">
        <p class="mt-lg-3">Contact Us</p>
      </div>
    </div>
    <script>
      // require.deps.push('bootstrap/tooltip');
    </script>

    <div class="row copyright">
      <div class="col-md-12">
        <p class="text-center">Copyright 2017 ihD Ltd</p>
        <address class="text-center"><strong>ihD Ltd.</strong>,
            Units 1901-1903, 19/F, Bonham Trade Centre,
            50 Bonham Strand, Sheung Wan, Hong Kong
            (MTR Exit A2)</address>
      </div>
    </div>
  </div>
</footer>

<script src="{{ '/assets/js/require.js' | relative_url }}" type="text/javascript"></script>