<footer>
  <div class="container">
    <div class="row our-values">
      <div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Headquartered in Hong Kong & with Offices around Asia, we run projects in APAC, EMEA, & Oceanic USA. Our offices are fully-operational, handling projects directly">
        <img src="images/logo.png" alt="tmp" class="img-circle pull-left">
        <p>Global<br/>Technology<br/>Consultant</p>
      </div>
      <div class="col-md-2" data-toggle="tooltip" data-placement="top" title="We Design & Co-ordinate, Tender, site-quality check and T&C IT Infrastructure, WiFi, Server Rooms, ELV, Security, Audio-Visual Systems Acoustics similarly except no Tender, instead working with the MEP & Architect to input to their design">
        <img src="images/logo.png" alt="tmp" class="img-circle pull-left">
        <p>Excellence in<br/>Design and<br/>Communication</p>
      </div>
      <div class="col-md-2" data-toggle="tooltip" data-placement="top" title="We work pro-actively, co-operating with the Architect, ID, MEP, Lighting & other Peer Design Team members to successfully realise the projects">
        <img src="images/logo.png" alt="tmp" class="img-circle pull-left">
        <p>Pro-active<br/>and<br/>Creative</p>
      </div>
      <div class="col-md-2" data-toggle="tooltip" data-placement="top" title="We make buildable designs, and work hard to integrate with the aesthetic and functional needs of the Facilities,whilst maintaining the Technical Performance">
        <img src="images/logo.png" alt="tmp" class="img-circle pull-left">
        <p>Practical<br/>and<br/>Flexible</p>
      </div>
      <div class="col-md-2" data-toggle="tooltip" data-placement="top" title="Integrity is essential in preserving the Owners resources, and in maintaining safety, and achieving full functionality">
        <img src="images/logo.png" alt="tmp" class="img-circle pull-left">
        <p style="line-height: 3em">Integrity</p>
      </div>
      <div class="col-md-2">
        <img src="images/logo.png" alt="tmp" class="img-circle pull-left">
        <p style="margin-top:0.5em">Contact<br/>Us</p>
      </div>
    </div>

    <div class="row copyright">
      <div class="col-md-12">
        <p class="text-center">Copyright 2017 ihD Ltd</p>
        <address class="text-center"><strong>ihD Ltd.</strong>,
            Units 1901-1903, 19/F, Bonham Trade Centre,
            50 Bonham Strand, Sheung Wan, Hong Kong
            (MTR Exit A2)</address>
      </div>
    </div>
  </div>
</footer>