<nav class="navbar navbar-light navbar-toggleable-sm fixed-top bg-faded">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primarynav" aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="{{ "/" | relative_url }}">
        <img alt="Brand" src="{{ "/images/logo.png" | relative_url }}">
      </a>
    </div>

    <div id="primarynav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav ml-auto">
        {% if page.language == "en" %}
          {% for link in site.navigation.en %}
          <li class="nav-item{% if page.url == link.url %} active{% endif %}">
            <a class="nav-link" href="{{ link.url | relative_url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
          <li class="flag"><a href="{{ page.url | prepend:"ch" | relative_url }}"><img src="{{ "/images/CN.png" | relative_url }}" alt="Chinese" /></a></li>
        {% else %}
          {% for link in site.navigation.ch %}
          <li class="nav-item{% if page.url == link.url %} active{% endif %}">
            <a class="nav-link" href="{{ link.url | relative_url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
          <li class="flag"><a href="{{ page.url | remove_first:"ch/" | relative_url }}"><img src="{{ "/images/GB.png" | relative_url }}" alt="English" /></a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>

<div class="container"><div class="row">
  <div class="col-md-12 text-right small">e: <a href="mailto:ihd@ihd-hk.com">ihD@ihd-hk.com</a>&nbsp;t: <a href="tel:0085228191108">+852 2819 1108</a></div>
</div></div>