--
--
{% capture content %}
<div class="row">
  <img class="col-lg-6 h-100 mb-4 mb-lg-0" src="/images/team/ian-harris.jpg" alt="Ian Harris" />
  <div class="col-lg-6 bio">
    <div><h3 class="mr-3" id="team-ian-harris-label">Obituary</h3></div>
    <p>It is with great sadness that we announce the passing of the founder of ihD Ltd, Mr. Ian Duncan Harris, who passed away peacefully on 16 April 2024 at 8:52 AM. Ian was an extraordinary man who dedicated his life to engineering and the audio-visual industry. He worked as an Airbus Engineer and was involved in laying one of the world's first Trans-Atlantic Underwater Fibre Optic cables. His work helped define design standards for the industry that are still in use today.</p>
    <p>Despite being diagnosed with Atypical Parkinson's Disease in 2021, Ian was always optimistic and positive. He never let his condition get in the way of his passion for life and always encouraged those around him to be their best selves. Ian was a selfless person who always put others first. He never forgot any of our birthdays in the office and always surprised us with thoughtful gifts. He was a great leader and a good friend to many of us.</p>
    <p>We are deeply grateful for Ian's contributions to our community, and we honor his memory by continuing his work. Let us all strive to be as kind, selfless, and dedicated as Ian was. Our thoughts and condolences go out to Ian's family and friends during this difficult time.</p>
  </div>
</div>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='obituary-modal' id='ian-harris-obituary-modal' content=content %}
<script>require.deps.push('app/obituary')</script>
