---
layout: default
title: 关于我们
permalink: /cn/about.html
language: ch
lang: zh_cn
description: 上海德恳 提供音视频顾问服务 IOT顾问服务 声学顾问
page_id: 'about_us_page'
redirect_from:
  - /c_about.html
  - /ch/about.html
---

{% capture content %}
<div class="col-12">
  <h1><span>关于</span>我们</h1>

  <p>德勤总部位于香港，是一支专业的充满激情的顾问团队。经过近20年的发展我们已经成为亚洲领先的顾问公司之一，并在亚洲地区拥有多个分公司和办事处。我们在IT、IoT、安防、弱电、音视频及声学领域完成了很多有代表性的案例。</p>

  <p>在这个过程中，我们每位员工都利用自己丰富的经验和沟通协调能力进行项目管理，完成了很多优秀的设计，也收获了良好的声誉。我们通过专业的设计及创新的思路，将客户的理想变为现实。提供卓越的方案，成就更美好的未来。</p>
</div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/backgrounds/about-us.jpg' section_style='primary' content=content %}


{% capture content %}
<div class="col-12 col-sm-4"><img src="/images/message-from-ian.jpg" class="mw-100 h-auto" /></div>
<div class="col-12 col-sm-8">
  <h2><span>来自创始人 Ian D. Harris 的话</span></h2>

  <p>我们为了实现客户的目标而努力工作，提供更好的设计方案，对擅长采购和安装的承包商进行指导。我们秉承着互利共赢的目标，与相关设计团队和其他参与方合作。我们的最终目标是确保为大型复杂的项目带来长期的稳定性和可维护性，同时创造更好的未来。我的人生格言是“热爱自己的事业，才能成就一番伟业……不要停滞不前”，用积极的态度来思考，要相信我们能完成伟大的和（看起来）不可能的事情，并为之奋斗。十之八九，我们会成功。</p>
</div>
{% endcapture %}
{% include section-wrapper.html additional_classes='tight-container' section_style='primary' content=content %}
