---
layout: default
title: 我们的项目
permalink: /cn/projects.html
language: ch
page_id: portfolio_page
redirect_from:
  - /ch/portfolio.html
  - /c_portfolio_map.html
  - /ch/projects.html
---

{% capture content %}
<div class="d-flex w-100 align-items-center mb-4">
  <h1 class="col-auto flex-shrink-1 mb-0">我们<span>的项目</span></h1>
  <div class="col-auto flex-grow-1"></div>
  <div class="col-auto flex-shrink-1">
    <a href="/ch/all_projects.html" class="btn btn-outline-secondary">所有项目</a>
  </div>
</div>

<div id="portfolio_filters" class="row w-100 mx-0">
  <div class="col-12 col-sm-6 col-lg-3 pb-3">
    <select name="location" class="form-control">
      <option value="-1">国家</option>
    </select>
  </div>

  <div class="col-12 col-sm-6 col-lg-3 pb-3">
    <select name="discipline" class="form-control">
      <option value="-1">学科</option>
    </select>
  </div>

  <div class="col-12 col-sm-6 col-lg-3 pb-3">
    <select name="type" class="form-control">
      <option value="-1">类型</option>
    </select>
  </div>

  <div class="col-12 col-sm-6 col-lg-3 pb-3">
    <input name="search" class="form-control" placeholder="搜索" />
  </div>
</div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/backgrounds/our-projects.jpg' section_style='white' content=content %}

<div class="container">
  <div class="row my-5" id="porfolio_grid">
  {% for project in site.data.projects %}
    {% include project.html project=project %}
  {% endfor %}
  </div>
</div>

<script>
  require.deps.push('app/portfolio');
</script>
