---
layout: default
title: 我们的服务
permalink: /cn/services.html
language: ch
lang: zh_cn
description: 上海德恳 提供音视频顾问服务 IOT顾问服务 声学顾问
page_id: our_services_page
redirect_from:
  - /c_services.html
  - /ch/services.html
---


{% capture content %}
  <h1 class="col-12">我们<span>的服务</span></h1>

  <div class="col-md-6">
    <p class="lead">我们的设计方案以改善日常生活为使命，同时创造更好的未来。我们也一直在探索如何做的更好。</p>
  </div>

  <div class="col-md-4 offset-md-1">
    <ul class="list-unstyled lead">
      <li><a data-scroll href="#esports">电子竞技场馆</a></li>
      <li><a data-scroll href="#acoustics">声学</a></li>
      <li><a data-scroll href="#av">音视频和多媒体</a></li>
      <li><a data-scroll href="#elv">弱电系统</a></li>
      <li><a data-scroll href="#it">信息技术</a></li>
      <li><a data-scroll href="#security">安防系统</a></li>
    </ul>
  </div>
{% endcapture %}
{% include section-wrapper.html section_background_url='/images/backgrounds/our-services.jpg' section_style='white' content=content %}



{% capture content %}
  <h2 class="col-12"><span>电子竞技场馆</span></h2>

  <div class="col-md-6">
    <p>在电竞产业蓬勃发展的时代，ihD 致力于以专业技术与系统化设计打造功能全面的电子竞技场馆。我们在视听、声学、IT系统等领域拥有成熟的技术和深厚的积累，致力于提供从方案设计、设备选型、施工监理直至方案落地的一站式的整合解决方案。我们具备电竞场馆全功能区的专业设计能力，从舞台、观众席到控制室、IT机房，均按国际赛事严苛标准打造。选择 ihD，就是选择一个能兼顾竞技品质、观众体验、运营效率与品牌价值的合作伙伴。</p>

    <div class="read-more-link" data-toggle="modal" data-target="#services-esports-modal"></div>
  </div>
{% endcapture %}
{% include section-wrapper.html id='esports' section_background_url='/images/services/esports.jpg' section_style='dark' content=content %}


{% capture content %}
  <h2 class="col-12"><span>声学</span></h2>

  <div class="col-md-6">
    <p>我们的声学顾问团队负责建筑声学和环境声学、隔振、降噪、混响控制和隔音。我们还对已经建成但存在问题的项目进行现场调研，并提供应急方案，提出可改善的建造策略。</p>

    <p>我们通过更好的解决方案对项目从规划、设计、施工、测试到调试验收进行全过程指导，不管是日常的情景还是演出的环境，都能帮助客户打造令人满意的声学空间来实现客户的需求。</p>

    <div class="read-more-link" data-toggle="modal" data-target="#services-acoustics-modal"></div>
  </div>
{% endcapture %}
{% include section-wrapper.html id='acoustics' section_background_url='/images/services/acoustics.jpg' section_style='dark' content=content %}


{% capture content %}
  <h2 class="col-12"><span>音视频和多媒体</span></h2>
  <div class="col-md-6">
    <p>自2003年成立以来，视听咨询一直是我们的核心业务。我们拥有丰富的经验，我们的视听顾问注重细节、严谨周到。在整个服务过程中指导承包商为客户提供最佳的视听效果。我们也进行视听考察，提供质量保证。 </p>

    <div class="read-more-link" data-toggle="modal" data-target="#services-av-modal"></div>
  </div>
{% endcapture %}
{% include section-wrapper.html id='av' section_background_url='/images/services/av-systems.jpg' section_style='dark' content=content %}


{% capture content %}
  <h2 class="col-12"><span>弱电系统</span></h2>

  <div class="col-md-6">
    <p>ELV包括建筑物内所有低电压运行的系统，如门禁、数据传输、局域网、闭路电视、火灾报警、公共广播系统、视听、企业Wi-Fi、电话、自动化、智能家居系统等。</p>

    <p>在集成弱电系统方面我们提供现代化的解决方案。凭借我们专业的技术水平和知识，给我们的客户带来更高的的效率，更少的成本和更低的风险。弱电系统为客户创造更舒适的生活，带来更高的投资回报率。</p>

    <div class="read-more-link" data-toggle="modal" data-target="#services-elv-modal"></div>
  </div>
{% endcapture %}
{% include section-wrapper.html id='elv' section_background_url='/images/services/elv.jpg' section_style='dark' content=content %}


{% capture content %}
  <h2 class="col-12"><span>信息技术</span></h2>

  <div class="col-md-6">
    <p>在基础设计中从铜线缆到有线光纤再到无线网络，对不同IT技术有不同的需求。我们采用业界最精准的无线局域网设计和模拟系统，确保无线网络的性能，安全性和兼容性。</p>

    <p>对成熟和尖端技术的了解，使我们能提供更好的解决方案一满足不同客户的需求，以及未来设备的需求。系统的最佳状态和可靠性运行，使用户能够享受到最优质的IT服务。顺畅的用户体验，高效的能源节约，带来了很高的回购率。启用物联网甚至有助于员工的安全和房间的卫生。</p>

    <div class="read-more-link" data-toggle="modal" data-target="#services-it-modal"></div>
  </div>
{% endcapture %}
{% include section-wrapper.html id='it' section_background_url='/images/services/it-information-technology-service.jpg' section_style='dark' content=content %}


{% capture content %}
  <h2 class="col-12"><span>安防系统</span></h2>

  <div class="col-md-6">
    <p>与前武装部队和安全首席顾问的合作使我们的工程师能够充分了解现代网络的安全系统和复杂的基础设施需求。我们的分析应用程序确保我们的设计可以提供智能和有效的监测。他们还能为楼宇提供更好的防御措施，及建立虚拟的电子围栏。</p>

    <div class="read-more-link" data-toggle="modal" data-target="#services-security-modal"></div>
  </div>
{% endcapture %}
{% include section-wrapper.html id='security' section_background_url='/images/services/security-systems.jpg' section_style='dark' content=content %}





{% capture content %}
<h2>声学</h2>
<p>我们的声学顾问团队负责建筑声学和环境声学、隔振、降噪、混响控制和隔音。我们还对已经建成但存在问题的项目进行现场调研，并提供应急方案，提出可改善的建造策略。</p>

<p>我们通过更好的解决方案对项目从规划、设计、施工、测试到调试验收进行全过程指导，不管是日常的情景还是演出的环境，都能帮助客户打造令人满意的声学空间来实现客户的需求。</p>

<h4>服务专项:</h4>
<ul>
  <li>建筑声学</li>
  <li>环境噪声控制</li>
  <li>声学检测</li>
  <li>机械噪音和振动控制</li>
  <li>降噪处理</li>
  <li>噪音调查</li>
  <li>音响系统环境设计</li>
</ul>

<p>我们通过实现客户的需求来提高我们服务的价值，在实现这些需求的同时，我们积极提出和讨论那些没有涉及到的需求。在行业内，我们的视听和声学团队几乎是数一数二的，即使是合同中没有约定的，我们的顾问也会根据各自的专长，互相协商来优化方案。</p>

<p>我们使用各种模拟软件和建模软件来准确地预测我们的设计结果，使我们的方案尽可能地准确，当然最终的实施成果也取决于承包商的建筑质量。</p>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='services-modal' id='services-acoustics-modal' content=content %}



{% capture content %}
<h2>音视频和多媒体</h2>

<p>自2003年成立以来，视听咨询一直是我们的核心业务。我们拥有丰富的经验，我们的视听顾问注重细节、严谨周到。在整个服务过程中指导承包商为客户提供最佳的视听效果。我们也进行视听考察，提供质量保证。 </p>

<p>我们从空间设计、技术设计到视听操作设计提供全方位的视听服务。在复杂的环境中，我们的工程师通过与声学及灯光设计师的紧密合作，给客户提供完善的视听设计。我们的顾问经验丰富，能够为客户节省成本，并通过更好、更灵活、更有效的方案使投资回报率更大。有了更好的客户体验，更顺畅的设施运营和令人满意的演示效果，大部分客户都会长期与我们合作。</p>

<h4>服务专项:</h4>
<ul>
  <li>建筑和区域照明控制</li>
  <li>现场演出、剧院和礼堂或大规模分布式背景音乐的音频系统</li>
  <li>立体仿真声</li>
  <li>音频、视频和中控系统</li>
  <li>大尺寸LED显示屏和光雕投影的显示系统</li>
  <li>休闲娱乐音响、影像及灯光</li>
  <li>IPTV，互动视频，全息显示系统</li>
  <li>网络视听及通讯</li>
</ul>

<p>通过将USB延长器与会议室用户的设备相结合，以及与无线网络的连接，我们能够在各种空间实现简单、可靠、更好的会议环境。BGM背景音乐系统看起来简单，但我们能用独特的方法来提高系统的效果。对嘈杂区域的声音进行特殊处理，使通常听不到的低音量声音变得清晰。为客人带来更好的声音体验，创造更好的未来。</p>

<p>对于博物馆和体验中心，我们加入了一种常被人忽略的感觉-气味。通过专业的装置来释放特殊的香味，例如咖啡、沼泽、香料等，我们给游客带来更加真实美好的体验。用光雕投影技术，不仅可以改变建筑物的外观，还能改变一些小物品的外观，用这种奇妙的方式为客户提供更好的体验。我们同样关注日常的需求，比如我们经常会给手机充电，因此我们会建议在会议室、健身房、客房和其他环境中添加有线和无线的智能充电POU（USB电源转化继电器）。这些设备越来越倾向采用IoT技术，通过联网并监控以获得有用的统计数据，提供大数据给用户创造更好的生活我们也在与一家制造商合作，使用语音服务器进行语音控制，以防止用户的语音上传至网络，从而确保隐私安全。</p>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='services-modal' id='services-av-modal' content=content %}




{% capture content %}
<h2>弱电系统</h2>

<p>ELV包括建筑物内所有低电压运行的系统，如门禁、数据传输、局域网、闭路电视、火灾报警、公共广播系统、视听、企业Wi-Fi、电话、自动化、智能家居系统等。</p>

<p>在集成弱电系统方面我们提供现代化的解决方案。凭借我们专业的技术水平和知识，给我们的客户带来更高的的效率，更少的成本和更低的风险。弱电系统为客户创造更舒适的生活，带来更高的投资回报率。</p>


<h4>服务专项:</h4>
<ul>
  <li>楼宇管理自动化</li>
  <li>生物识别安全防范技术</li>
  <li>停车场管理</li>
  <li>企业身份卡签发系统</li>
  <li>门禁系统</li>
  <li>客房管理系统</li>
  <li>防侵入系统</li>
</ul>

<p>商业建筑对管理自动化的需求巨大，有大量的节能目标需要达成。我们使用传感器，控制器和智能软件来实现节能。大部分的酒店项目都有超过100间客房的规模。</p>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='services-modal' id='services-elv-modal' content=content %}



{% capture content %}
<h2>信息技术</h2>
<p>在基础设计中从铜线缆到有线光纤再到无线网络，对不同IT技术有不同的需求。我们采用业界最精准的无线局域网设计和模拟系统，确保无线网络的性能，安全性和兼容性。</p>

<p>对成熟和尖端技术的了解，使我们能提供更好的解决方案一满足不同客户的需求，以及未来设备的需求。系统的最佳状态和可靠性运行，使用户能够享受到最优质的IT服务。顺畅的用户体验，高效的能源节约，带来了很高的回购率。启用物联网甚至有助于员工的安全和房间的卫生。</p>

<h4>服务专项:</h4>
<ul>
  <li>高速互联网接入系统</li>
  <li>IPTV电视和BYOD自带设备连接</li>
  <li>弱电/电信机柜的设计</li>
  <li>客房管理系统</li>
  <li>服务人员通讯系统</li>
  <li>物联网的支持和连接</li>
  <li>程控交换系统，基于本地和云端</li>
  <li>服务器机房的设计来满足UPS不间断电源、漏水检测、火灾检测和灭火设施的要求</li>
  <li>综合布线和光纤系统</li>
  <li>有线和无线网络系统</li>
</ul>

<p>除了提供基于802.11ax的无线网络设计给员工、客户和客人使用。我们还利用zigbee/LoRa和蓝牙无线网络的设计技术，满足快速增长的物联网设备的需求，充分集成和使用物联网设备。物联网设备的使用例如，清洁人员佩戴上内置帮助按钮且可追踪的物联网徽章，当食物托盘或手推车被推到走廊时可以提醒客房服务员。我们还通过区域模拟来优化无线覆盖范围和成本，来避免供应过剩。我们在客房管理和会议室系统中部署了高效的人迹感应器，给酒店客户和企业客户都带来了能源的节省，使其获得更高的运营利润</p>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='services-modal' id='services-it-modal' content=content %}




{% capture content %}
<h2>安防系统</h2>
<p>与前武装部队和安全首席顾问的合作使我们的工程师能够充分了解现代网络的安全系统和复杂的基础设施需求。我们的分析应用程序确保我们的设计可以提供智能和有效的监测。他们还能为楼宇提供更好的防御措施，及建立虚拟的电子围栏。</p>

<h4>服务专项:</h4>
<ul>
  <li>威胁分析</li>
  <li>1/2/3安全层</li>
  <li>访问控制和报警监测</li>
  <li>炸弹/危险品/枪支 监测</li>
  <li>摄像头监控，包括定制分析</li>
  <li>生物安全识别</li>
  <li>停车场管理系统</li>
  <li>企业ID卡签发系统</li>
  <li>门控制/旋转门控制</li>
  <li>入侵侦查系统</li>
  <li>巡逻授权系统</li>
</ul>

<p>我们在印度的商业园区项目正在利用车底炸弹扫描，并结合摄像头分析技术进行车牌识别，来警告访客的位置变化，以提高园区里60多家公司的安全性，来避免袭击。</p>

<p>菲律宾南部的一个赌场项目使用了2300个摄像头，该项目还使用了分析技术，以提高员工服务水平和客户的体验。通过结合虚拟绊线和人脸识别，可以立即检测到禁区内的人和被禁人员。</p>

<p>以上的案例都在安全系统的实施中取得了很好的反响，也为我们的客户提供了人身和财产的安全保障，通过客户更好的体验，增加了再次合作的机率。</p>
{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='services-modal' id='services-security-modal' content=content %}


{% capture content %}
<h2>电子竞技场馆</h2>
<p>在电竞产业蓬勃发展的时代，ihD 致力于以专业技术与系统化设计打造功能全面的电子竞技场馆。我们在视听、声学、IT系统等领域拥有成熟的技术和深厚的积累，致力于提供从方案设计、设备选型、施工监理直至方案落地的一站式的整合解决方案。我们具备电竞场馆全功能区的专业设计能力，从舞台、观众席到控制室、IT机房，均按国际赛事严苛标准打造。选择 ihD，就是选择一个能兼顾竞技品质、观众体验、运营效率与品牌价值的合作伙伴。
<br><br>
  <a href="https://ihd-hk.com/cn/e-sports.html" target="_blank">了解更多关于我们电子竞技解决方案的信息</a>
</p>
</p>

{% endcapture %}
{% include modal.html modal_size='modal-xl' additional_classes='services-modal' id='services-esports-modal' content=content %}


<script> require.deps.push('app/smooth-scroll', 'bootstrap/modal') </script>
