---
---



$font-family-sans-serif:  Tahoma, Arial, sans-serif;

$icon-font-path: '../fonts/';
$component-offset-horizontal: 120px;
$body-bg: #fff;
$font-size-base: 1rem;
$grid-gutter-width-base: 20px;

$brand-primary: rgb(255,90,1);
$navbar-padding-x: 0;
$navbar-padding-y: 0;

$nav-pills-border-radius: 0;

$card-spacer-x: 1rem;

$carousel-control-opacity: 0.75;


@import "bootstrap/bootstrap";
@import "select2/core.scss";
@import "tether/tether.sass";


$footer-background: $gray-dark;
$navbar-bg: rgba(#f0f0f0, 0.95);


body > #page {
  background-color: $body-bg;
  padding-bottom: $line-height-base;
}

body {
  background-color: $footer-background;
  border-top: 50px solid $body-bg;
}
footer {
  background-color: $footer-background;
  color: $gray-lighter;

  &>.container {
    padding-top: 10px;
  }
}
.navbar-brand {
  padding: 0;
  line-height: 50px;
  height: 50px;
  display: block;
  &> img {
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    @include media-breakpoint-up(md) {
      left: 0;
    }
    @include media-breakpoint-up(lg) {
      height: 70px;
    }
  }

}
.nav {
  .flag {
    a {
      padding:0;
      img {
        display: block;
        width: auto;
        height: 50px;
      }
    }
  }
}
.navbar {
  border-bottom: 1px solid darken($navbar-bg, 6.5%);
  .navbar-nav {
    .nav-item {
      .nav-link {
        line-height: 22px;
        padding: 14px 8px;
        font-size: 0.8rem;
        @include media-breakpoint-up(lg) {
          padding: 14px;
          font-size: 1rem;
        }
        &:hover {
          background-color: lighten($brand-primary, 33.333%)
        }
      }
      &.active {
        .nav-link {
          background-color: $brand-primary;
          color: #f0f0f0;
        }
      }
    }
  }
  &.navbar-toggleable-sm {
    .container {
      @include media-breakpoint-down(sm) {
        margin: 10px;
        .navbar-toggler {
          float: left;
        }
      }
    }
  }
}
.bg-faded {
  background-color: $navbar-bg;
}

.carousel-cover-image {
  height: 200px;
  @include media-breakpoint-up(md) {
    height: 500px;
  }
  background-size: cover;
  background-position: center;
}

.carousel-indicators,
.carousel-caption {
  background: rgba(0,0,0, 0.5);
  color: rgba(255,255,255, 0.8);
  left: 0;
  right: 0;
}
.carousel-indicators {
  bottom: 0;
  height: 3px;
  margin: 0;
  padding: 15px 0;
}
.carousel-caption {
  bottom: 30px;
  top: auto;
  padding: 1em 0 0;
  &.carousel-caption-top {
    background: transparent;
    color: rgba(255,255,255, 0.75);
    padding: 0.5em 0;
    top: 0;
    bottom: auto;
  }
}
.profile-image {
  img {
    max-width: 100%;
  }
  margin-bottom: 1em;
}

.team-member {
  h3 {
    margin-top: 0;
  }
}

.service-cover {
  width: 125px;
}


#portfolio_filters-sticky-wrapper {
  z-index: 100;
  position: relative;
}
#portfolio_filters {
  background: rgba(255,255,255, 0.9);
  padding: 10px 0;
}


#portfolio_page {
  .card {
    &.has-images {
      .card-block {
        padding-top: 100%;
        margin-top: $spacer-y;
      }
    }
    img.card-img-top {
      position: absolute;
      left:0;
      transition: all .3s ease-in-out;
      &:nth-child(2) {
        opacity: 0;
      }
      &:hover {
        &:nth-child(2) {
          opacity: 1;
        }
      }
    }
    .card-title {
      text-align: center;
    }
    .tags {
      text-align: right;
      span {
        font-weight: lighter;
        font-size: 0.6rem;
        font-style: italic;
        color: #aaa;
        white-space: nowrap;

        &:after {
          content: ', ';
        }
        &:last-child:after {
          content: '';
        }
      }
    }
  }
}

#contact_page {
  dl {
    @include make-row();
    margin-bottom: 0;
    dt {
      @extend %grid-column;
      @include media-breakpoint-up(md) {
        @include make-col(2);
      }
      @include media-breakpoint-up(sm) {
        text-align: right;
        @include make-col(3);
      }
      &:after {
        content: ':';
      }
    }
    dd {
      @extend %grid-column;
      @include media-breakpoint-up(md) {
        @include make-col(10);
      }
      @include media-breakpoint-up(sm) {
        @include make-col(9);
      }
      p {
        margin: 0;
        @include media-breakpoint-only(md) {
          strong {
            display: block;
          }
        }
      }
      &+dd {
        @include media-breakpoint-up(md) {
          @include make-col-offset(2);
        }
        @include media-breakpoint-up(sm) {
          @include make-col-offset(3);
        }
      }
      &.address {
        white-space: pre-line;
      }
    }
  }
}

.company-features {
  h6 {
    font-weight: bold;
    text-align: center;
    margin: 0;

    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 0;
      left: $grid-gutter-width-base / 2;
      right: $grid-gutter-width-base / 2;
      background: rgba(255,255,255, 0.5);
      text-shadow: 0 0 2px white;
      padding: 0.5em 0;
    }
  }
}


.row {
  &.copyright {
    margin: 1em 0 0;
    color: lighten($footer-background, 25%);
    @extend .small;
  }
  &.our-values {
    div {
      img {
        width: 3em;
        height: 3em;
        margin-right: 0.5em;
        float: left;
        @include media-breakpoint-between(sm, md) {
          float: none;
          margin: 0 auto 0.5em;
          display: block;
        }
      }
      p {
        margin: 0;
        font-size: 0.8em;
        line-height: 3.75em;
        @include media-breakpoint-up(sm) {
          line-height: 1.25em;
          text-align: center;
        }
        @include media-breakpoint-up(lg) {
          margin-left: 4.375em;  // ( (3em + 0.5em) / 0.8em)... width+margin / font-size
        }
      }
    }
  }
}

#map {
  height: 600px;
  margin-bottom: 2rem;
}